* {
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}
p{
  margin-block-start:1px;
  margin-block-end:1px;
}
h1 {
  padding: 5px;
  margin-block-start:1px;
  margin-block-end:1px;
}
.App {
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  font-family: Georgia, Times, "Times New Roman", serif;
  background-color:#2C365E;;
  padding: 0px;
  min-height: 100vh;
  z-index: 1;
}

#content-wrap {
  padding-bottom: 2.5rem;
  background-color: #2C365E;
  /* Footer height */
}

.description {
  padding: 20px;
}

div .title {
  background-color: #D81E5B;
  color: white;
  font-size: 24px;
  padding: 0px;
  position: relative;
  z-index: 10;
}
.spacing {
  height: 50px;
  background-color: #ffffff;
}
hr {
  border: 2px solid white;
  border-radius: 5px;
}
.title hr {
  width: 60%;
}
.description-container {
  -moz-box-shadow: 0px 0px 10px #aaa;
    -webkit-box-shadow: 0px 0px 10px #aaa;
    box-shadow: 0px 0px 10px #aaa;
}
.random-10px-padding {
  padding: 0px;
  padding-top:10px;
  background-color: white;
}