.App {
  min-height: 100vh;
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: Georgia, Times, "Times New Roman", serif;
}
#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}
.description {
  padding: 20px;
}
.menu {
  background-color: rgb(45, 30, 75)
}