.Menu {
    width: 100%;
    background-color: #ffffff;
    padding-bottom: 10px;
}

.menu-shadow {
    width: fit-content;
    -moz-box-shadow: 0px 0px 10px #aaa;
    -webkit-box-shadow: 0px 0px 10px #aaa;
    box-shadow: 0px 0px 10px #aaa;
    width: 95%;
    margin: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.dropdown {
    border-radius: 20px;
}

.Menu .dropdown-button {
    text-align: center;
    text-decoration: none;
    font-size: 4px;
    border: 4px solid #EE4266;
    background-color: #EE4266;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: #EE4266;
    margin: auto;
    padding-bottom:4px
}

.Menu .dropdown-menu {
    background-color: #EE4266;
    border: 4px solid #EE4266;
    border-top-width: 2px;
    border-bottom-width: 2px;
    color: white;
    margin: auto;
}

.Menu .arrow {
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}


.Menu .dropdown-menu * {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.Menu .dropdown-menu .column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.Menu .dropdown-menu .row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .Menu .dropdown-menu .column {
        width: 100%;
    }
}
.Menu hr {
    width: 250px;
}
.Menu .submit {
    padding: 2px;
    font-size: 25px;
    background-color: white;
    border: 4px solid #dce0e8;
    font-family: Arial, Helvetica, sans-serif;
    color:#aaa;
    width: 250px;
    border-radius: 25px;
    margin: auto;
}
.Menu .submit:hover {
    border: 4px solid #D81E5B;
    
}