div.c {
  position: absolute;
  left: 0px;
  width: 200px;
  height: 100%;
  background-color: rgb(0, 0, 0);
  box-shadow: 1px -2px 3px black;
}
button.sidebar-toggle {
  position: absolute;
  left: 180px;
  width: 100px;
  height: 100%;
  text-align: center;
  background-color: rgb(176, 135, 135);
  
}