div.scroll {
    margin: 4px, 4px;
    padding: 4px;
    background-color: #ffffff;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.text {
    font-family: Georgia, Times, "Times New Roman", serif;
}